.counter-display {
    text-align: center;
    background: black;
    margin: 100px;
    margin-bottom: 60px;
}

.counter-display div {
    font-size: 60px;
    display: inline-block;
    background: #101010;
    color: white;
    margin: 3px;
    line-height: 60px;
    padding: 10px;
}

.buttonContainer {
    text-align: center;
}

button {
    margin-left: 5px;
}